<div class="border_prods col-xs-4">
  <div class="property-lst-img">
    <a href="#" class="property-lst-img">
      <img width="269" height="177" class="property-lst-img" title="Excepteur sint  culpa" alt="Excepteur sint  culpa" src="assets/gproperty/046.png">
    </a>
  </div>
  <div class="prods_padd">
      <div class="cont7">
        <div class="price price_padd ">
          <b>Price:&nbsp;&nbsp;</b>
          <span class="productSpecialPrice">$239.96</span>
        </div>
        <div class="name name_padd equal-height_new_products_name" style="min-height: 19px;">
          <div>
            <span>
              <a href="#">Excepteur sint culpa</a>
            </span>
          </div>
        </div>
        <div class="listing_padd">
          <table class="listing">
            <tbody>
              <tr>
                <td class="first"><b><strong>Type:&nbsp;:</strong></b></td>
                <td class="last"><strong>Rent/Sale</strong></td>
              </tr>
              <tr>
                <td class="first"><b><strong>Beds:&nbsp;:</strong></b></td>
                <td class="last"><strong>7 item(s)</strong></td>
              </tr>
              <tr>
                <td class="first"><b><strong>Baths:&nbsp;:</strong></b></td>
                <td class="last"><strong>5 item(s)</strong></td>
              </tr>
              <tr>
                <td class="first"><b><strong>House size:&nbsp;:</strong></b></td>
                <td class="last"><strong>900.00 Sq Ft</strong></td>
              </tr>
              <tr>
                <td class="first"><b><strong>Lot size:&nbsp;:</strong></b></td>
                <td class="last"><strong>0.19 Arches</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="prods_wrapp">
          <div class="button__padd">
            <strong class="button_content button_content2">
              <strong class="button bg_button">
                <strong class="button-t">
                  <a role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary ui-priority-secondary" href="#">
                    <span class="ui-button-icon-primary ui-icon ui-icon-cart"></span>
                    <span class="ui-button-text">
                      Add&nbsp;to&nbsp;Cart
                      <span class="separator-img"></span>
                      <span class="glyphicon glyphicon-shopping-cart shoping-cart"></span>
                    </span>
                  </a>
                </strong>
              </strong>
            </strong>
          </div>
        </div>
      </div>
    </div>
</div>
