<div class="row-fluid">
  <div class="text-header">
    Categories
  </div>
  <div class="h-seperator"></div>
  <div class="clear"></div>
  <div class="clear"></div>
  <ul class="ct-li-list">
    <li>
      New Constructions<span class="category_arrow "></span>
    </li>
    <li>
      Rentals<span class="category_arrow "></span>
    </li>
    <li>
      <b>Contact Us</b>
    </li>
  </ul>
</div>
  
<div class="infoBoxWrapper box2 box_multy">
  <div class="box_wrapper">
    <div class="infoBoxHeading">
      <div class="box_wrapper_title22">
        <div class="box_wrapper_title">
          <h1>
            <span class="title-icon"></span>
            <a href="http://livedemo00.template-help.com/osc_48945/specials.php?osCsid=8j58pcn8309mq65d12acs2o5n7">Specials</a>
          </h1>
        </div>
      </div>
    </div>
    <div class="infoBoxContents hover">
      <ul id="specials-0" class="specials">
        <li class="wrapper_prods hover  first last" style="width:px;">
          <div style="min-height:84px;" class="border_prods custom-border_prods">
            <div style="width:107px;height:74px;" class="pic_padd wrapper_pic_div">
              <a style="width:107px;height:74px;" href="http://livedemo00.template-help.com/osc_48945/product_info.php/lorem-adipisicing-p-17?osCsid=8j58pcn8309mq65d12acs2o5n7" class="prods_pic_bg">
                <img width="107" height="74" style="width:107px;height:74px;margin:0px 0px 0px 0px;" title="Lorem adipisicing" alt="Lorem adipisicing" src="../assets/045.png">
              </a>
            </div>
            <div class="prods_padd custom-prods_padd">
              <div class="name name_padd ">
                <span>
                  <a href="http://livedemo00.template-help.com/osc_48945/product_info.php/lorem-adipisicing-p-17?osCsid=8j58pcn8309mq65d12acs2o5n7">Lorem adipisicing</a>
                </span>
              </div>
              <div class="desc desc_padd">We know that search for a suit...</div>
              <div class="price price_padd top">
                <b>Price:&nbsp;&nbsp;</b>
                <span class="productSpecialPrice">$3.19</span>&nbsp;&nbsp; <del>$69.96</del>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="text-header">
    Information
  </div>
  <div class="h-seperator"></div>
  <div class="clear"></div>
  <div class="clear"></div>
  <ul class="ct-li-list">
    <li>
      Shipping &amp; Returns<span class="category_arrow "></span>
    </li>
    <li>
      Privacy Notice<span class="category_arrow "></span>
    </li>
    <li>
      Conditions of Use
    </li>
    <li>
      Conditions of Use
    </li>
  </ul>
</div>
