<div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
  <ol class="carousel-indicators">
    <li class="" data-slide-to="0" data-target="#carousel-example-generic"></li>
    <li data-slide-to="1" data-target="#carousel-example-generic" class=""></li>
    <li data-slide-to="2" data-target="#carousel-example-generic" class="active"></li>
  </ol>
  <div style="height: 425px;"  class="carousel-inner">
    <div class="item active">
      <a target="_self" href="#" class="nivo-imageLink">
        <img alt="First slide" class="carousel-img" src="assets/slider-1.jpg">
      </a>
    </div>
    <div class="item">
      <img alt="Second slide" class="carousel-img" src="assets/slider-2.jpg">
    </div>
    <div class="item">
      <img alt="Third slide" class="carousel-img" src="assets/slider-3.jpg">
    </div>
  </div>
  <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a data-slide="next" href="#carousel-example-generic" class="right carousel-control">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
