<div  class="col-xm-10 col-sm-10 col-md-10 col-lg-10 portfolio_div">
  <div class="portfolio_details">
    <div class="row"></div>
    <div class="row">
      <div class="col-xm-3 col-sm-3 col-md-3 col-lg-3 portfolio_list">
        <ul class="">
          <li class="heading">Selected Portfolio</li>
          <li class="head-child-txt selected" data-div_id="portfolio_properties_list">Florida-House(10)</li>
          <li class="heading">Portfolios</li>
          <li class="head-child-txt" data-div_id="portfolios_list">Portfolios(5)</li>
          <li class="heading">Properties</li>
          <li class="head-child-txt" data-div_id="multifamily_properties">MultiFamily(6)</li>
          <li class="head-child-txt" style="margin-top: -1px;" data-div_id="commercial_properties">Commercials(4)</li>
        </ul>
      </div>
      <div class="col-xm-9 col-sm-9 col-md-9 col-lg-9 properties_by_categories" id="portfolio_properties_list">
        <div class="row-fluid">
          <span id="prtf_cross_sign" class="pull-right glyphicon glyphicon-remove cross-sign"></span>
          <span id="prtf_cross_txt" class="pull-right">Close</span>
        </div>
        <div class="row-fluid" id="title_txt">Florida-House Properties List</div>
      </div>
      <div class="col-xm-9 col-sm-9 col-md-9 col-lg-9 properties_by_categories hide" id="portfolios_list">
        <div class="row-fluid">
          <span id="prtf_cross_sign" class="pull-right glyphicon glyphicon-remove cross-sign"></span>
          <span id="prtf_cross_txt" class="pull-right">Close</span>
        </div>
        <div class="row-fluid" id="title_txt">All Portfolios List</div>
      </div>
      <div class="col-xm-9 col-sm-9 col-md-9 col-lg-9 properties_by_categories hide" id="multifamily_properties">
        <div class="row-fluid">
          <span id="prtf_cross_sign" class="pull-right glyphicon glyphicon-remove cross-sign"></span>
          <span id="prtf_cross_txt" class="pull-right">Close</span>
        </div>
        <div class="row-fluid" id="title_txt">Multifamily Properties List</div>
      </div>
      <div class="col-xm-9 col-sm-9 col-md-9 col-lg-9 properties_by_categories hide" id="commercial_properties">
        <div class="row-fluid">
          <span id="prtf_cross_sign" class="pull-right glyphicon glyphicon-remove cross-sign"></span>
          <span id="prtf_cross_txt" class="pull-right">Close</span>
        </div>
        <div class="row-fluid" id="title_txt">Commercial Properties List</div>
      </div>
    </div>
  </div>
</div>
