<div class="clear"></div>
<div class="clear"></div>
<div class="row">
  <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"  style="background-color:white;">
    <div class="row">
      <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xm-7 col-sm-7 col-md-7 col-lg-7">
        ASDFAS
      </div>
      <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>
  <div class="col-xm-10 col-sm-10 col-md-10 col-lg-10"></div>
</div> 
