<div class="signin-block">
  <div class="row-fluid blk-body medium-block">
    <div class="row">
      <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row form-txt-header">
          NEW CUSTOMER
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12" style="font-size:13px !important;color:#777777;">
        I am a new customer.
        <br/>
        <br/>
        By creating an account at Real Estate you will be able to shop faster, be up to date on an orders status, and keep track of the orders you have previously made.
      </div>
      <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
    <br/>
    <div class="clear"></div>
    <div class="row">
      <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6">
        <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-block signup_link" style="color:white;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;Sign up</a>
      </div>
      <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </div >
</div>
