.button_header,
.button_content{display:inline-block; line-height:0em;}
/* ************************************************************************************* */
.button_header{margin-left:6px;}
.button_header .button,
.button_header .button:hover,
.button_header .button.act,
.button_header .button:hover div,
.button_header .button div{display:inline-block; cursor:pointer; overflow:hidden;}
.button_header .button,
.button_header .button:hover,
.button_header .button.act
.button_header .button,
.button_header .button:hover,
.button_header .button.act{padding:0; overflow:hidden; font-size:11px;text-transform:uppercase;}

/* ************************************************************************************* */
.button_header4 .button .button-t,
.button_header4 .button:hover .button-t,
.button_header4 .button.act .button-t{background:url('../assets/button_header4.gif') repeat-x transparent;}

/* ************************************************************************************* */
.button_header4 .button .button-t,
.button_header4 .button.act:hover .button-t{background-position:0 0;}
.button_header4 .button:hover .button-t,
.button_header4 .button.act .button-t{background-position:0 100%;}

/* ************************************************************************************* */
.button_header4 .bg_button .button-t,
.button_header4 .bg_button:hover .button-t,
.button_header4 .bg_button.act .button-t{margin: 0px 0px 0px 0px; height:27px;}

/* ************************************************************************************* */
.button_header4 .bg_button  a span.ui-button-text,
.button_header4 .bg_button  span.ui-button-text,
.button_header4 .bg_button:hover a span.ui-button-text,
.button_header4 .bg_button.act a span.ui-button-text,
.button_header4 .bg_button:hover span.ui-button-text,
.button_header4 .bg_button.act span.ui-button-text{font-weight:bold;text-decoration:none; white-space:nowrap;text-transform:none;}											 

/* ************************************************************************************* */
.button_header4 .bg_button:hover a span.ui-button-text,
.button_header4 .bg_button.act a span.ui-button-text,
.button_header4 .bg_button:hover span.ui-button-text,
.button_header4 .bg_button.act span.ui-button-text{color:#fff;}
.button_header4 .bg_button  a span.ui-button-text,
.button_header4 .bg_button  span.ui-button-text{color:#fff;line-height:1em;padding: 7px 10px 7px 10px; display:inline-block;}
/* ************************************************************************************* */	
.button_content  button{height:33px; font-size:100%; font-weight:300; font-family:'Open Sans', sans-serif; }	
/* ************************************************************************************* */	
.button_content .button,
.button_content .button.act,
.button_content .button div{display:inline-block; cursor:pointer; overflow:hidden;}
.button_content .button,
.button_content .button.act{padding:0; overflow:hidden; position:relative; font-family: 'Open Sans', sans-serif;}

/* ************************************************************************************* */

.button_content2 .bg_button .button-t{background:#34393d; border:0px solid #e85657;}
.button_content2 .bg_button:hover .button-t,
.button_content2 .bg_button.act .button-t{background: #d76b1e; border:0px solid #141414;}

.button_content22 .bg_button .button-t{background: #34393d; border:0px solid #e85657;}
.button_content22 .bg_button:hover .button-t,
.button_content22 .bg_button.act .button-t{background:#d76b1e; border:0px solid #141414;}

.prod_info_next .button_content .bg_button .button-t{}
.prod_info_next .button_content .bg_button:hover .button-t,
.prod_info_next .button_content .bg_button.act .button-t{}
.button_content .bg_button .button-t{}
.button_content22 .bg_button .button-t{}
.button_content22 .bg_button:hover .button-t,
.button_content22 .bg_button.act .button-t{}
.button_content .bg_button .button-t i{ margin-right:10px; color:#fff; display:none;}
.button_content .bg_button .button-t,
.button_content .bg_button:hover .button-t,
.button_content .bg_button.act .button-t{position:relative; display:block;}

/* ************************************************************************************* */
.button_content .bg_button  a span.ui-button-text,
.button_content .bg_button  span.ui-button-text,
.button_content .bg_button:hover a span.ui-button-text,
.button_content .bg_button.act a span.ui-button-text,
.button_content .bg_button:hover span.ui-button-text,
.button_content .bg_button.act span.ui-button-text{line-height:17px;font-weight:normal;white-space:nowrap;text-decoration:none; display:inline-block; 
text-transform: uppercase;}

	
.button_content .bg_button  a span.ui-button-text,
.button_content .bg_button  span.ui-button-text,
.button_content .bg_button:hover a span.ui-button-text,
.button_content .bg_button.act a span.ui-button-text,
.button_content .bg_button:hover span.ui-button-text,
.button_content .bg_button.act span.ui-button-text{font-size:11px;} 


											 
/* ************************************************************************************* */
.button_content2 .bg_button  a span.ui-button-text,
.button_content2 .bg_button  span.ui-button-text{color:#fff;text-decoration:none;}
.prod_info_next .button_content22 .bg_button:hover a span.ui-button-text,
.prod_info_next .button_content22 .bg_button.act a span.ui-button-text{color:#fff;text-decoration:none;}
.button_content2 .bg_button:hover a span.ui-button-text,
.button_content2 .bg_button.act a span.ui-button-text,
.button_content2 .bg_button:hover span.ui-button-text,
.button_content2 .bg_button.act span.ui-button-text{color:#fff;text-decoration:none;}

/* ************************************************************************************* */
.button_content22 .bg_button  a span.ui-button-text,
.button_content22 .bg_button  span.ui-button-text{color:#fff;text-decoration:none;}
.button_content22 .bg_button:hover a span.ui-button-text,
.button_content22 .bg_button.act a span.ui-button-text,
.button_content22 .bg_button:hover span.ui-button-text,
.button_content22 .bg_button.act span.ui-button-text{color:#fff;text-decoration:none;}




/* ************************************************************************************* */
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding:8px 14px 8px 14px;}
.prods_info  .button_content2  .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text ,
.starboard_side .button_content2  .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text ,
.button2__padd .button_content2 .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text,
.button__padd .button_content2 .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding:8px 48px 8px 14px;}

.prod_info_next .fl_left .ui-button-text-icon-primary .ui-button-text {padding: 8px 14px 8px 14px;}
.prod_info_next .button_next .ui-button-text-icons .ui-button-text {}
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {padding: 8px 14px 7px 14px;}
.button_content2 .ui-state-default .ui-icon{/* background-image: url('../ext/jquery/ui/redmond/assets/ui-icons_ffffff_256x240.png'); */ }
.button_content2 .ui-state-default .ui-icon.ui-icon-cart{background: url('../assets/cart_cont7.png') no-repeat 0 0 #34393d; background-position: 0 0 !important; padding-left:8px;}
.button_content2:hover .ui-state-default .ui-icon.ui-icon-cart{ background-color: #d76b1e;}
.button_content2:hover .ui-state-default .ui-icon{}
.button_content2 .ui-state-hover .ui-icon{/* background-image: url('../ext/jquery/ui/redmond/assets/ui-icons_ffffff_256x240.png'); */}
.button_content22 .ui-state-default .ui-icon{/* background-image: url('../ext/jquery/ui/redmond/assets/ui-icons_ffffff_256x240.png'); */ display:none;}
.button_content22:hover .ui-state-default .ui-icon{/* background-image: url('../ext/jquery/ui/redmond/assets/ui-icons_ffffff_256x240.png'); */ display:none;}
.button_content22 .ui-state-hover .ui-icon{/* background-image: url('../ext/jquery/ui/redmond/assets/ui-icons_ffffff_256x240.png'); */}
span.ui-button-icon-primary{}
