<div class="row_5 footer-block">
  <div class="foot_inner">
    <div class="boxes_footer">
      <div class="Footer_BoxWrapper fl_left first">
        <h4 class="Footer_BoxHeading">Main Menu</h4>
        <ul>
          <li class="act first">
            <a href="http://livedemo00.template-help.com/osc_48945/index.php?osCsid=b0v92clu8g7tlmp7tm73afj142">Home</a>
          </li>
          <li class="">
            <a href="http://livedemo00.template-help.com/osc_48945/featured_products.php?osCsid=b0v92clu8g7tlmp7tm73afj142">Featured</a>
          </li>
          <li class="">
            <a href="http://livedemo00.template-help.com/osc_48945/products_new.php?osCsid=b0v92clu8g7tlmp7tm73afj142">What's New?</a>
          </li>
          <li class="last">
            <a href="http://livedemo00.template-help.com/osc_48945/reviews.php?osCsid=b0v92clu8g7tlmp7tm73afj142">Reviews</a>
          </li>
        </ul>
      </div>
      <div class="Footer_BoxWrapper fl_left">
         <h4 class="Footer_BoxHeading">Our Offers</h4>
         <ul class="information">
          <li class="first">
            <div class="div_2">
              <a href="http://livedemo00.template-help.com/osc_48945/topsellers_products.php?osCsid=b0v92clu8g7tlmp7tm73afj142">Top sellers</a>
            </div>
          </li>
          <li class="">
            <div class="div_2">
              <a href="http://livedemo00.template-help.com/osc_48945/specials.php?osCsid=b0v92clu8g7tlmp7tm73afj142">Specials</a>
            </div>
          </li>
          <li class="">
            <div class="div_2">
              <a href="http://livedemo00.template-help.com/osc_48945/manufacturers.php?osCsid=b0v92clu8g7tlmp7tm73afj142">Manufacturers</a>
            </div>
          </li>
          <li class="last">
            <div class="div_2">
              <a href="http://livedemo00.template-help.com/osc_48945/suppliers.php?osCsid=b0v92clu8g7tlmp7tm73afj142">Suppliers</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="Footer_BoxWrapper fl_left">
        <h4 class="Footer_BoxHeading">Your Account</h4>
        <ul class="information">
          <li class="0 first">
            <div class="div_2">
              <a href="http://livedemo00.template-help.com/osc_48945/login.php?osCsid=b0v92clu8g7tlmp7tm73afj142">Log in</a>
            </div>
          </li>
          <li class="0">
            <div class="div_2">
              <a href="http://livedemo00.template-help.com/osc_48945/create_account.php?osCsid=b0v92clu8g7tlmp7tm73afj142">Create an Account</a>
            </div>
          </li>
          <li class="0 last">
            <div class="div_2">
              <a href="http://livedemo00.template-help.com/osc_48945/shipping.php?osCsid=b0v92clu8g7tlmp7tm73afj142">Shipping &amp; Returns</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="Footer_BoxWrapper fl_left contact_footer last">
        <h4 class="Footer_BoxHeading">Contact us</h4>
        <ul class="information">
          <li class="line_1 first">
            <i class="icon-map-marker"></i>
            Company Inc., 8901 Marmora Road,<br> Glasgow, D04 89GR
          </li>
          <li class="line_2">
            <i class="icon-phone"></i><span>Tel:1(234) 567-8901</span>
          </li>
          <li class="line_3 last">
            <i class="icon-envelope"></i><span>Tel:1(234) 567-8902</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer"><p> powered by gHouse Corporation@2014</p></div>
  </div>
</div>
