<nav role="navigation" class="navbar navbar-default navbar-inverse custom-navbar">
  <div class="container-fluid"  style="height:190px !important;">
    <div class="navbar-collapse collapse">
      <div class="row menu-row">
        <div class="box_header_user_menu">
          <ul class="user_menu">
            <li class="first">
              <a href="#">
                <div class="button-t">
                  <span>Shipping &amp; Returns</span>
                </div>
              </a>
            </li>
            <li class="">
              <a href="#">
                <div class="button-t">
                  <span>Advanced Search</span>
                </div>
              </a>
            </li>
            <li class="">
              <a href="<%= new_user_registration_path %>">
                <div class="button-t">
                  <span>Create an Account</span>
                </div>
              </a>
            </li>
            <li class="Log in last">
              <a href="<%= new_user_session_path %>">
                Log in
              </a>
            </li>
          </ul>
        </div>
        <div class="logo_search_box_div">
          <div class="row-fluid">
            <div class="col-xm-3 col-sm-3 col-md-3 col-lg-3">
              <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="<%= root_path %>"><img width="225" height="55" title="Real Estate" class="ghouse_img navbar-brand" alt="Real Estate" src="../assets/ghouse2.png"></a>
              </div>
            </div>
            <div class="col-xm-9 col-sm-9 col-md-9 col-lg-9">
              <div class="box_header_cart destination">
                <a href="#" class="cart_l">
                  <span class="glyphicon glyphicon-shopping-cart" style="margin-top:3px;"></span>
                  <label>My Cart:</label>
                  <span>
                    <span>Now in your cart </span><strong>0</strong> items
                  </span>
                </a>
              </div>
              <div class="search-box-div">
                <input type="text" name="search_txt" class="search_box_input" placeholder="Search" />
                <i class="glyphicon glyphicon-search search-btn"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="boxes_menu">
        <div class="menu">
          <ul>
            <li class="act first">
              <a href="#">
                Home
              </a>
            </li>
            <li class="">
              <a href="#">
                What's New?
              </a>
            </li>
            <li class="">
              <a href="#">
                Featured
              </a>
            </li>
            <li class="">
              <a href="#">
                Top sellers
              </a>
            </li>
            <li class="">
              <a href="#">
                Specials
              </a>
            </li>
            <li class="">
              <a href="#">
                Brands
              </a>
            </li>
            <li class="">
              <a href="#">
                Reviews
              </a>
            </li>
            <li class="last">
              <a href="#">
                Contacts
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
